@import "clearstyle";

$font-color: black;
$width-wrapper: 80%;
$color-wrapper: yellow;
$width-content: 95%;
$number-buttons-row: 3;
$border-radius-button: 0.6rem;
$width-block-main: 50%;
$width-block-exchange-info: 70%;
$font-family: "Arial";
$font-size: 2rem;
$height-button-block: 5rem;
$height-button: $height-button-block - 1rem;
$font-size-button: 2rem;
$color-button-exchange: #4682B4;
$color-button-add-exchange: #b7e265;
$color-button-run-exchange: #09961f;
$border-thickness-line: 1.5px;
$border-radius: 0.5rem;
$color-footer: black;
$font-color-footer: grey;
$font-size-footer: 1.3rem;


body {
  height: 100%;
  font-family: $font-family;
  font-size: $font-size;
}

.body__overflow_y_hidden {
  overflow-y: hidden;
}

.wrapper {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  justify-content: center;
  max-width: $width-wrapper;
  background: $color-wrapper;
}

a:visited, a:active, a:link {
  color: $font-color;
}

.content {
  display: flex;
  margin: auto;
  flex: 1 1 auto;
  flex-flow: column wrap;
  width: $width-content;
  text-align: center;
}

.block-text {
  margin-top: 10px;
  font-size: $font-size-button;
}

.buttons-row-main {
  justify-content: center;
}

.buttons-row {
  justify-content: space-between;
}

.content-row {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;

  &__block-main {
    flex: 0 1 $width-block-main;
  }

  &__block-child {
    flex: 0 1 100% / $number-buttons-row;
  }

  &__block-exchange-info {
    flex: 0 1 $width-block-exchange-info;
  }

  &__block-main, &__block-child {
    display: block;
  }
}

.button-block {
  display: flex;
  border: $border-thickness-line;
  border-radius: $border-radius-button;
  height: $height-button;
  margin: 10px;
  align-items: center;
  &__exchange {
    background-color: $color-button-exchange;
  }
  &__add-exchange {
    background-color: $color-button-add-exchange;
  }
  &__run-exchange {
    background-color: $color-button-run-exchange;
  }
  &__text {
    margin: auto;
  }
}


.footer {
  display: flex;
  justify-content: center;
  height: calc($font-size-footer + 20px);
  font-size: $font-size-footer;
  background-color: $color-footer;
  bottom: 0px;

  &__content {
    color: $font-color-footer;
    align-self: center;
  }
}
