@import "clearstyle";

$font-color: black;
$width-wrapper: 80%;
$color-wrapper: white;
$width-content: 95%;
$number-buttons-row: 3;
$border-radius-button: 0.6rem;
$width-block-center: 100%;
$width-block-exchange-info: 70%;
$font-family: "Arial";
$font-size: 1.5rem;
$font-size-button: $font-size + 0.3rem;
$font-size-status: 1.2rem;
$height-button: $font-size-button;
$height-row: $height-button + 1.9rem;
$color-button-exchange: #4682B4;
$font-color-button: white;
$color-button-add-exchange: #6C757D;
$color-button-run-exchange: #09961f;
$color-button-stop-exchange: #DC3545;
$color-button-select: #3b701c;
$font-color-text-select-exchange: #3b701c;
$border-thickness-line: 1.5px;
$border-radius: 0.5rem;
$color-footer: white;
$font-color-footer: black;
$font-size-footer: 1.3rem;


body {
  height: 100%;
  font-family: $font-family;
  font-size: $font-size;
}

.body__overflow_y_hidden {
  overflow-y: hidden;
}

.wrapper {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  justify-content: center;
  max-width: $width-wrapper;
  background: $color-wrapper;
}

a:visited, a:active, a:link {
  color: $font-color;
}

.content {
  display: flex;
  margin: auto;
  flex: 1 1 auto;
  flex-flow: column wrap;
  width: $width-content;
  text-align: center;
}

.list-buttons {

}

.block-text {
  display: block;
  padding: 2px 0;
  font-size: $font-size;
}

.text-select-exchange {
  color: $font-color-text-select-exchange;
}


.content-row {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  min-height: $height-row;
  align-items: center;

  &__block-center {
    display: block;
    flex: 0 1 $width-block-center;
  }

  &__block-between {
    display: block;
    flex: 0 1 100% / $number-buttons-row;
  }

  &__block-exchange-info {
    flex: 0 1 $width-block-exchange-info;
  }

}

.content-flex-center {
  justify-content: center;
}

.content-flex-between {
  justify-content: space-between;
}

.button-block {
  display: flex;
  border: $border-thickness-line;
  border-radius: $border-radius-button;
  min-height: $height-button;
  margin: 5px;
  align-items: center;

  &__exchange {
    background-color: $color-button-exchange;
  }

  &__add-exchange {
    background-color: $color-button-add-exchange;
  }

  &__run-exchange {
    background-color: $color-button-run-exchange;
  }

  &__stop-exchange {
    background-color: $color-button-stop-exchange;
  }

  &__select {
    background-color: $color-button-select;
  }

  &__text {
    margin: auto;
    padding: 10px;
    color: $font-color-button;
  }
}

.row-exchange {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  flex: 0 1 50%;
  text-align: start;

  &__status {
    padding: 5px;
    font-size: $font-size-status;
  }

  &__button-block {
    display: block;
  }
}

.check-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  &__label {
    font-size: $font-size - 0.3rem;
    margin-left: 5px;
  }
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: calc($font-size-footer + 20px);
  font-size: $font-size-footer;
  background-color: $color-footer;
  bottom: 0px;
  border-radius: $border-radius;

  &__content {
    color: $font-color-footer;
    align-self: center;
  }
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid blue;
  border-right: 4px solid green;
  border-bottom: 4px solid red;
  border-left: 4px solid pink;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}