.order-cutlery {
  margin: 16px 0 24px;
}

.order-cutlery__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 16px;
}

.order-cutlery__row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.order-cutlery__text {
  flex: 1 1 auto;
  color: var(--grey);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.order-cutlery__right {
  width: 140px;
  flex-shrink: 0;

  .counter {
    width: 100%;
  }

  .button-app {
    width: 100%;
  }
}