* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
  font-family: "Arial";
  font-size: 2rem;
}

.body__overflow_y_hidden {
  overflow-y: hidden;
}

.wrapper {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  justify-content: center;
  max-width: 80%;
  background: yellow;
}

a:visited, a:active, a:link {
  color: black;
}

.content {
  display: flex;
  margin: auto;
  flex: 1 1 auto;
  flex-flow: column wrap;
  width: 95%;
  text-align: center;
}

.block-text {
  margin-top: 10px;
  font-size: 2rem;
}

.buttons-row-main {
  justify-content: center;
}

.buttons-row {
  justify-content: space-between;
}

.content-row {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
}
.content-row__block-main {
  flex: 0 1 50%;
}
.content-row__block-child {
  flex: 0 1 33.3333333333%;
}
.content-row__block-exchange-info {
  flex: 0 1 70%;
}
.content-row__block-main, .content-row__block-child {
  display: block;
}

.button-block {
  display: flex;
  border: 1.5px;
  border-radius: 0.6rem;
  height: 4rem;
  margin: 10px;
  align-items: center;
}
.button-block__exchange {
  background-color: #4682B4;
}
.button-block__add-exchange {
  background-color: #b7e265;
}
.button-block__run-exchange {
  background-color: #09961f;
}
.button-block__text {
  margin: auto;
}

.footer {
  display: flex;
  justify-content: center;
  height: calc(1.3rem + 20px);
  font-size: 1.3rem;
  background-color: black;
  bottom: 0px;
}
.footer__content {
  color: grey;
  align-self: center;
}
