* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
  font-family: "Arial";
  font-size: 1.5rem;
}

.body__overflow_y_hidden {
  overflow-y: hidden;
}

.wrapper {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  justify-content: center;
  max-width: 80%;
  background: white;
}

a:visited, a:active, a:link {
  color: black;
}

.content {
  display: flex;
  margin: auto;
  flex: 1 1 auto;
  flex-flow: column wrap;
  width: 95%;
  text-align: center;
}

.block-text {
  display: block;
  padding: 2px 0;
  font-size: 1.5rem;
}

.text-select-exchange {
  color: #3b701c;
}

.content-row {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  min-height: 3.7rem;
  align-items: center;
}
.content-row__block-center {
  display: block;
  flex: 0 1 100%;
}
.content-row__block-between {
  display: block;
  flex: 0 1 33.3333333333%;
}
.content-row__block-exchange-info {
  flex: 0 1 70%;
}

.content-flex-center {
  justify-content: center;
}

.content-flex-between {
  justify-content: space-between;
}

.button-block {
  display: flex;
  border: 1.5px;
  border-radius: 0.6rem;
  min-height: 1.8rem;
  margin: 5px;
  align-items: center;
}
.button-block__exchange {
  background-color: #4682B4;
}
.button-block__add-exchange {
  background-color: #6C757D;
}
.button-block__run-exchange {
  background-color: #09961f;
}
.button-block__stop-exchange {
  background-color: #DC3545;
}
.button-block__select {
  background-color: #3b701c;
}
.button-block__text {
  margin: auto;
  padding: 10px;
  color: white;
}

.row-exchange {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  flex: 0 1 50%;
  text-align: start;
}
.row-exchange__status {
  padding: 5px;
  font-size: 1.2rem;
}
.row-exchange__button-block {
  display: block;
}

.check-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.check-box__label {
  font-size: 1.2rem;
  margin-left: 5px;
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: calc(1.3rem + 20px);
  font-size: 1.3rem;
  background-color: white;
  bottom: 0px;
  border-radius: 0.5rem;
}
.footer__content {
  color: black;
  align-self: center;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid blue;
  border-right: 4px solid green;
  border-bottom: 4px solid red;
  border-left: 4px solid pink;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
