.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  background: var(--white);

  &__container {
    position: relative;

  }

  &__cart-btn.button-app {
    flex-direction: row-reverse;
    gap: 10px;
    padding: 0 24px;
    height: 44px;

  }

  &_rest {
    @media (max-width: $mobile) {
      background: transparent;
      position: absolute;

      .header__action-item {
        border-radius: 32px;
        background: rgba(255, 255, 255, 0.85);
      }

      .header__menu-icon {
        border-radius: 32px;
        background: rgba(255, 255, 255, 0.85);
      }
    }
  }

  &_small {
    box-shadow: 0px 6px 20px rgba(160, 147, 143, 0.14);

    .header__row {
      padding: 15px 0;
      align-items: center;
    }

    .header__right {
      justify-content: flex-end;
      width: 0;
    }
  }

  &_policy {
    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__row {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__address {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
    line-height: 24px;

    img {
      max-width: 56px;
      flex-shrink: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    width: 100%;
    padding: 0 100px;
  }

  &__menu-icon {
    width: 44px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__action-item {
    position: relative;
    display: flex;
    align-items: center;

    svg {
      fill: var(--primary);
      transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    }
  }

  &__search {
  }

  &__lang {
    width: 44px;
    height: 44px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    cursor: pointer;
    @media (max-width: $mobile) {
      font-weight: 600;
    }
    @media (hover: hover) {
      &:hover {
        color: var(--orange);
      }
    }
  }

  &__action-btn {
    width: 44px;
    height: 44px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @media (hover: hover) {
      &:hover {
        svg {
          fill: var(--orange)
        }
      }
    }
  }

}

.header-lang {
  position: absolute;
  top: 0px;
  right: 0;
  background: #FFFFFF;
  border: 1px solid #DDDFE4;
  border-radius: 8px;
  padding: 8px 16px;
  z-index: 2;
  width: 300px;

  &.lang-enter-active,
  &.lang-leave-active {
    transition: all 0.3s ease;
  }

  &.lang-enter-from,
  &.lang-leave-to {
    transform: translateY(20px);
    opacity: 0;

  }

  li {
    &:not(:last-child) {
      border-bottom: 1px solid #DDDFE4;
    }

    &:first-child {
      .header-lang__link {
        padding-top: 0;
      }
    }

    &:last-child {
      .header-lang__link {
        padding-bottom: 0;
      }
    }
  }

  &__link {
    display: block;
    padding: 10px 0;
    line-height: 24px;
    color: var(--grey);
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    @media (hover: hover) {
      &:hover {
        color: var(--orange
        );
      }
    }

    &.active {
      font-weight: 600;
      color: var(--primary);
    }
  }
}

.animate-btn-enter-active,
.animate-btn-leave-active {
  transition: all 0.2s ease-in-out;
}

.animate-btn-leave-from {
  opacity: 0;
}

.animate-btn-leave-to {
  transform: translateX(100px);
}

.animate-btn-enter-from {
  transform: translateX(-20px);
}

.animate-btn-enter-from,
.animate-btn-leave-to {
  position: absolute;
  visibility: hidden;
}
