.restaurants {
  padding-top: 30px;
  padding-bottom: 48px;
  @media (max-width: $mobile) {
    padding-bottom: 0;
    padding-top: 10px;
  }

  &__container {
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    position: sticky;
    top: 74px;
    left: 0;
    width: 100%;
    z-index: 2;

    &::after {
      content: '';
      position: absolute;
      background: var(--white);
      width: 150%;
      top: 0;
      left: -20px;
      height: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 40px;
      @media (max-width: $mobile) {
        margin-bottom: 15px;
      }
    }
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 16px;
    position: relative;
    z-index: 2;
    @media (max-width: $mobile) {
      flex-wrap: nowrap;
      overflow-x: auto;
      gap: 0px;
      margin-right: -16px;
      padding-right: 16px;
      white-space: nowrap;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__filter-btn {
    padding: 12px 8px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    @media (max-width: $mobile) {
      padding: 12px;
    }
    @media (hover: hover) {
      &:hover {
        color: var(--orange);
      }
    }

    &.active {
      font-weight: 700;
      color: var(--primary)
    }
  }

  &__sort-btn {
    width: 24px;
    height: 24px;

    @media (hover: hover) {
      &:hover {
        svg {
          stroke: var(--orange);
        }
      }
    }

    svg {
      stroke: var(--primary);
      transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    }
  }

  &__grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 4px;
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobile) {
      gap: 16px;
    }
    @media (max-width: 650px) {
      grid-template-columns: repeat(1, 1fr);

    }
  }

  &__card {
  }

}

.restaurants-card {
  padding: 0px 16px;
  border-radius: 8px;
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);

  @media (hover: hover) {
    &:hover {
      .restaurants-card__image-ibg {
        img {
          transform: scale(1.05);
        }

        &::after {
          opacity: 1;
        }
      }

      //background: #FFFFFF;
      //box-shadow: 0px 14px 30px rgba(153, 153, 153, 0.2);
    }
  }
  @media (max-width: 650px) {
    padding: 0;
  }

  &__image-ibg {
    position: relative;
    padding-bottom: 79%;
    border-radius: 32px;
    overflow: hidden;
    @media (max-width: $mobile) {
      padding-bottom: percent(180, 358);
    }

    &::after {
      content: '';
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-radius: 32px;
      height: 100%;
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    }
  }

  &__label {
    position: absolute;
    top: 16px;
    left: -16px;
    background: var(--orange);
    border-radius: 4px;
    padding: 2px 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
  }

  &__time {
    position: absolute;
    bottom: 20px;
    right: -8.5px;
    background: var(--white);
    border-radius: 32px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 8px;
  }

  &__content {
    padding: 8px 0;

    h4 {
      font-weight: 600;
      font-size: 24px;
      line-height: calc(32 / 24);
      @media (max-width: $mobile) {
        font-size: 16px;
      }
    }

    p {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: var(--orange);
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        width: 24px;
        flex-shrink: 0
      }
    }
  }
}

.restaurants-filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: var(--white);
  z-index: 4;

  &__head {
    position: sticky;
    top: 0;
    left: 0;
    padding: 9px 0;
    display: flex;
    align-items: center;
    background: var(--white);
  }

  &__btn {
    flex-shrink: 0;
    padding: 10px;

    svg {
      fill: currentColor;
    }
  }

  &__title {
    flex: 1 1 auto;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }

  &__list {
    padding: 16px;
    display: grid;
    gap: 4px;
  }

  &__item {
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 24px;
  }
}

.restaurants-mob-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.restaurants-mob-head__address {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  svg {
    width: 16px;
    height: 16px;
  }
}

.restaurants-mob-head__btn {
}

.filter-enter-active,
.filter-leave-active {
  transition: all 0.3s ease;
}

.filter-enter-from,
.filter-leave-to {
  transform: translateX(-100%);
}
