.verify {
  padding: 128px 0;
  @media (max-width: $mobile) {
    padding: 40px 0;
  }
}

.verify__container {
}

.verify__send-code {
  margin: 34px 0 22px;
  text-align: center;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
  @media (hover: hover) {
    &:hover {
      color: var(--orange);
    }
  }
}

.verify__icon {
  display: flex;
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: 86px;
  }
}

.verify__content {
  max-width: 500px;
  margin: 0 auto;

  .input {
    &:not(:last-child) {
      margin-bottom: 76px;
      @media (max-width: $mobile) {
        margin-bottom: 30px;
      }
    }
  }

  .button-app {
    width: 100%;
  }
}

.verify__title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  @media (max-width: $mobile) {
    display: none;
  }

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.verify__description {
  line-height: 24px;

  &.tac {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 52px;
      @media (max-width: $mobile) {
        margin-bottom: 26px;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 60px;
    @media (max-width: $mobile) {
      margin-bottom: 26px;
    }
  }
}

.verify__form {
}

