.modal-card {
  position: relative;
  max-height: 100%;
  height: 100%;
  border-radius: 24px;
  overflow: hidden;


}

.modal-card__scroll {
  max-height: 100%;
  overflow-y: auto;

  .modal_product & {
    @media (min-width: $mobile) {
      display: flex;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.modal-card__close {
  position: relative !important;

  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
}

.modal-card__button {
  position: absolute;
  z-index: 2;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.85);
  width: 44px;
  height: 44px;
  display: inline-flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
  @media (hover: hover) {
    &:hover {
      box-shadow: 0px 0px 15px var(--orange);
    }
  }

}

.modal-card__top {
  position: relative;
  width: 100%;
}

.modal-card__like {
  bottom: 32px;
  right: 16px;
  color: var(--orange);

  svg {
    fill: currentColor
  }

}

.modal-card__image-ibg {
  height: 290px;
  position: relative;
  overflow: hidden;
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.modal-card__content {
  margin-top: -24px;
  position: relative;
  z-index: 2;
  border-radius: 20px 20px 16px 16px;
  background: #FFF;
  padding: 24px 16px 0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  min-height: 506px;
  @media (max-width: $mobile) {
    min-height: 300px;
  }

}

.modal-card__info {
  flex: 1 1 auto;
}

.modal-card__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 9px;
}

.modal-card__prices {
  font-size: 20px;

  line-height: 26px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.modal-card__new-price {
  color: var(--orange);
  font-weight: 700;
}

.modal-card__old-price {
  font-size: 20px;
  line-height: 24px;
}

.modal-card__description {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}


.modal-card__bottom {
  position: sticky;
  bottom: 0;
  left: 0;
  background: var(--white);
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
  padding: 16px 0 24px;
}

.modal-card__bottom .button-app {
  width: 100%;
}

.modal-card__head {
  margin-top: 32px;
}

.head-modal {
  &:not(:last-child) {
    margin-bottom: 20px;
    @media (max-width: $mobile) {
      margin-bottom: 8px;
    }
  }
}

.head-modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 2px;
}

.head-modal__row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.head-modal__descr {
  font-size: 12px;
  line-height: 16px;

  &.red {
    color: red;
  }
}

.head-modal__label {
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  padding: 2px 4px;
  display: inline-block;
  border-radius: 4px;
  background: #F0F0F0;
}

.card-options {
}

.card-options__item {
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 4px 0;
}

.card-options__item.active {
  font-weight: 700;
}

.card-options__info {
  line-height: 24px;

  span {
    margin-left: 5px;
    color: var(--orange);
  }
}

.card-options__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 86px;
  flex-shrink: 0;
}

.card-options__one-element {
}

.card-options__btn {
  width: 24px;
  height: 24px;

  svg {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }
}

.card-options__counter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.card-options__count {
  flex: 1 1 auto;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.modal-card__head2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 17px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 16px 12px;
  width: 100%;
  z-index: 3;
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
}

.modal-card__head2-overlay {
  position: absolute;
  top: 0;
  background: var(--white);
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.modal-card__head2-img {
  border-radius: 16px;
  width: 56px;
  height: 56px;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.5, 0.02, 0.13, 0.5);

  &.scroll {
    opacity: 0;
    transform: translateY(-80px);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.modal-card__head2-title {
  flex: 1 1 auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  position: relative;
  z-index: 2;
  transition: all 0.4s cubic-bezier(0.5, 0.02, 0.13, 0.5);

  &.scroll {
    opacity: 0;
    transform: translateY(-80px);
  }
}

.modal-card__column {
  max-height: 100%;
  overflow: auto;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.modal-card_small {
  max-width: 448px;

  .modal-card__wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}

.modal-card__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 24px;
  height: 100%;

  .modal-card__image-ibg {
    border-radius: 16px;
    height: 250px;
  }

  .modal-card__content {
    min-height: auto;
    margin-top: 0;
    background: transparent;
    flex: 1 1 auto;
  }

  .modal-card__like {
    bottom: 16px;
  }

  .modal-card__close {
    position: absolute !important;
    top: 16px;
    right: 16px;
  }

  .modal-card__bottom {
    padding: 16px 0 0px;
    flex-direction: column;
    position: sticky;
    gap: 24px;
  }
}